body {
  background-color: white;
}

.father {
  height: 150vh;
  flex-wrap: nowrap;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.box {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: blue;
  border: 1px solid white;
}
